:root{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.Login{
  text-align: center;
  background-color: gray;
  width: 50%;
  margin: 0 auto;
  align-self:center;
  margin-top: 12em;
  padding: 3em;
  border-radius: 3em;
}
.Login h1{
  padding: 2em;
}
.Login input{
  margin:2em;
  margin-left: 0em;
  padding: 0.5em;
  border-radius: 1em;
}
.Login button{
  padding: 1em;
  border-radius: 0.6em;
}
.Admin{
  text-align: center;
  background-color: rgba(105, 105, 105, 0.658);
  color: white;
  width: 60em;
  display: flex;
  flex-direction: column;
  margin: 5em;
  border-radius: 3em;
  align-self: center;
  justify-content: center;
  margin: 0 auto;
  padding: 3em;
}
hr{
  width: 100%;
}
.Admin button{
  padding: 1em;
  background-color: rgb(43, 41, 41);
  color: white;
  border-radius: 1em;
  font-size: 1em;
}
.Admin h2{
  font-size: 2em;
}
.Admin h4{
  font-size: 1em;
}
.Admin input{
  color: grey;
  padding: 1em;
}

.Shop{
  text-align: center;
  list-style: none;
  background-color: grey;
  width: 70%;
  margin: 0 auto;
  margin-top: 5em;
  border-radius: 2em;
}
.Shop ul{
  list-style: none;
}
.Shop button{
  padding: 0.5em;
  border-radius: 0.5em;
}