:root{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
  font-size: 3em;
}
h2{
  font-size: 2em;
}
body{
  text-align: center;
}
button{
  background-color: rgb(29, 29, 133);
  border-radius: 10px;
  color: white;
}
.epic{
  border-radius: 1em;
  height: 8em;
  width: 80%;
  background-color: teal;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.mark{
  font-size: 1em;
  border-radius: 1em;
  height: 8em;
  width: 80%;
  background-color: teal;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0 auto;
}
hr{
  border: 0.1em black dashed;
}
button:hover{
  background-color: teal;
  color: white;
  transition: 1s ease-in-out;
}