:root{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h1{
  font-size: 3em;
}
h2{
  font-size: 2em;
}
body{
  text-align: center;
}
button{
  background-color: rgb(29, 29, 133);
  border-radius: 10px;
  color: white;
}
.epic{
  height: 7em;
  width: 100vw;
  background-color: teal;
  display: flex;
  justify-content: center;
}
.mark{
  height: 7em;
  width: 100vw;
  background-color: teal;
  display: flex;
  justify-content: center;
}