.vmo-header{
    font-size: 3em;
    list-style: none;
}
.vmo-container ul li{
    font-size: 1.5em;
    text-align: justify;
    list-style: None;
}
.about-container h1{
    font-size: 4em;
    text-align: center;
}
.about-container h2{
    font-size: 3.5em;
    text-align: center;
    color: rgb(99, 99, 99);
}
.about-container{
    width: 60%;
    margin: 0 auto;
}
.team-details li,p{
    font-size: 1.55em;
}
.team-container{
    width: max-content;
    margin: 0 auto;
}
.team-container p{
    color: rgb(99, 99, 99);
}
.story-details-text{
    text-indent: 3em;
    text-align: justify;
}
.story-details-quoute{
    color: rgb(99, 99, 99);
    text-indent: 0;
    text-align: center ;
    font-size: 2.5em;
}
.team-container img{
    margin-top: 3em;
}
.team-details{
    display:flex;
    flex-direction: row;
    margin-top: 2em;
}
.team-details-text{
    margin-left: 2em;
    margin-top: 3em;
}

/*this is for the home page*/
.home-container h1{
    font-size: 4em;
    text-align: center;
}
.home-container{
    width: 100%;
    margin: 0 auto;
}
.hero-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    border-radius: 3em;
    margin-top: 3em;
    border: 1px solid black;
}
.hero-container h1{
    color: rgb(99, 99, 99);
}
.home-container h2{
    font-size: 3em;
    text-align: center;
}
.about-container hr{
    width: 100%;
    border: 3px solid royalblue;
    border-radius: 1em;
}
.home-hr{
    width: 60%;
    border: 3px solid royalblue;
    border-radius: 1em;
}
