.vmo-header{
    font-size: 3em;
    list-style: none;
}
.vmo-container ul li{
    font-size: 1.5em;
    text-align: justify;
    list-style: None;
}
.vmo-container ol li{
    font-size: 1.5em;
    text-align: justify;
}

.about-container h1{
    font-size: 4em;
    text-align: center;
}
.about-container h2{
    font-size: 3.5em;
    text-align: center;
    color: rgb(99, 99, 99);
}
.about-container{
    width: 60%;
    margin: 0 auto;
}
.team-details li,p{
    font-size: 1.55em;
}
.team-container{
    width: max-content;
    margin: 0 auto;
    width: 100%;
}
.team-container p{
    color: rgb(99, 99, 99);
}
.story-details-text{
    text-indent: 3em;
    text-align: justify;
}
.story-details-quoute{
    color: rgb(99, 99, 99);
    text-indent: 0;
    text-align: center ;
    font-size: 2.5em;
}
.team-container img{
    margin-top: 3em;
    width: 180px;
    height: 180px;
    border-radius: 10px;
}
.team-details{
    display:flex;
    flex-direction: row;
    margin-top: 2em;
}
.team-details-text{
    margin-left: 2em;
    margin-top: 3em;
}

/*this is for the home page*/
.home-container h1{
    font-size: 4em;
    text-align: center;
}
.home-container{
    width: 100%;
    margin: 0 auto;
}
.hero-container img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
    border-radius: 3em;
    margin-top: 3em;
    border: 1px solid black;
}
.hero-container h1{
    color: rgb(99, 99, 99);
}
.home-container h2{
    font-size: 3em;
    text-align: center;
}
.about-container hr{
    width: 100%;
    border: 3px solid royalblue;
    border-radius: 1em;
}
.home-hr{
    width: 60%;
    border: 3px solid royalblue;
    border-radius: 1em;
}

.new-details img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.6em;
}
.new-details{
    width: 30%;
    background-color: royalblue;
    padding:1em 1em 1em 1em;
    color: white;
    height: 35em;
    border-radius: 1em;
}
.new-container{
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: center;
}
.new-parent{
    background-color:rgb(189, 189, 189);
    padding: 2em 0.5em;
    border-radius: 1em;
}
.new-parent button{
    background-color: royalblue;
    height: 4em;
    width: 8em;
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: white;
    border-radius: 1em;
}
.new-parent button:hover{
background-color: white;
color: royalblue;
  transition: 0.5s ease-in-out;
}
.best-details a{
    height: max-content;
    width: max-content;
}

.new-details:hover{
    background-image: url(https://www.shutterstock.com/image-illustration/3d-rendering-black-abstract-geometric-600nw-2421483579.jpg);
    transition: 0.5s ease-in-out;
}

/*for best sellers in home page*/
.best-details img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.6em;
}
.best-details{
    width: 30%;
    background-color: royalblue;
    padding: 1em;
    color: white;
    margin-top: -1em;
    border-radius: 1em;
}
.best-container{
    display: flex;
    flex-direction: row;
    gap: 1%;
    justify-content: center;
}
.best-parent{
    background-color:rgb(189, 189, 189);
    padding: 2em 0.5em;
    border-radius: 1em;
}
.best-parent button{
    background-color: royalblue;
    height: 4em;
    width: 8em;
    margin-top: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    color: white;
    border-radius: 1em;
}
.best-parent button:hover{
background-color: white;
color: royalblue;
  transition: 0.5s ease-in-out;
}

.best-details:hover{
    background-image: url(https://www.shutterstock.com/image-illustration/3d-rendering-black-abstract-geometric-600nw-2421483579.jpg);
    transition: 0.5s ease-in-out;}

/*for the custome keyboard banner in home page*/
.custom-details{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 25.5em;
    overflow: hidden;
    width: 100%;
}

.custom-details-left{
    width: 50%;
}
.custom-details-left img{
    width: 100%;
}
.custom-details-right{
    height: 100%;
    width: 50%;
    background-color: royalblue;
    justify-items: center;
    justify-content: center;
    text-align: center;
}
.custom-details-right p{
    margin: 0 2em;
    justify-content: center;
}
.custom-details-right-specifics{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}
.custom-details-right-specifics button{
    background-color: black;
    color: white;
    font-size: 1.75em;
    margin-top: 0.5em;
    padding: 0.5em;
    border-radius: 0.25em;
}
.custom-details-right-specifics button a:hover{
    background-color: white;
    color: royalblue;
    transition: 0.4s ease-in-out;
}
button{
    font-family: 'Times New Roman', Times, serif;
}
.custom-details button a{
    padding:0.5em;
    width: 8em;
    height: 2em;
}
.custom-details button{
    color: white;
    transition: 0.4s ease-in-out;
}
button:hover{
    background-color: white;
    color: black;
}

/*for the products*/

.products-details img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 0.6em;
}
.products-details{
    width: 30%;
    background-color: royalblue;
    padding: 1em;
    color: white;
    margin-top: 1em;
    height: 45em;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
}

.products-details:hover{
    transition: 1s ease-in-out;
    background-image: url(https://www.shutterstock.com/image-illustration/3d-rendering-black-abstract-geometric-600nw-2421483579.jpg);
}

.products-details button{
    background-color: black;
    color: white;
    font-size: 1.5em;
    padding: 0.25em;
    border-radius: 0.25em;
    width: 40%;
    margin-top: auto;
    border: 2px white solid;
}
.products-details p{
    font-size: 1.65em;
}
.products-details button:hover{
    background-color: royalblue;
    color: white;
}
.products-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1%;
    justify-content: center;
}

a{
    text-decoration: none;
    color: white;
    height: 100%;
    width: 100%;
}
.products-parent h1{
    font-size: 4em;
    text-align: center;
}

/*for the stars*/
.star {
    font-size: 1.5rem;
    color: #ffff00; /* Gold color for stars */
}

.star.half {
    background: linear-gradient(90deg, #ffff00 50%, rgba(65, 105, 225, 0) 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #e0e0e0;
}

.star.empty {
    color: #e0e0e0; /* Grey color for empty stars */
}


/*for specific product*/
.product-specifics{
    background-color:rgb(100, 100, 100);
    margin: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}
.product-specifics-left{
    width: 50%;
    background-color: rgb(255, 0, 0);
}
.product-specifics-left img{
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.product-specifics-right{
    width: 46%;
    background-color: black;
    color: white;
    display: flex;
    justify-content:center;
    flex-direction: column;
    padding: 2em;
}
.product-specifics-right h2{
    font-size: 2.5em;
}
.product-specifics-right button{
    width: 50%;
    font-size: 1.5em;
}

.switch-details{
    color: white;
}

.switch-container{
    display: flex;
    width: 80%;
    text-align: justify;
    font-size: 1.5em;
    height: max-content;
    gap: 3em;
    margin-left: -1.5em;
}
.switch-select{
    background-color: aquamarine;
}
#switch-select{
    color: white;
    font-size: 0.75em;
    background: royalblue;
    height:3em;
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: -3em;
}

.cart-details img{
    width: 15em;
    border-radius: 2em;
}
.cart-details{
    width: 90%;
    display: flex;
    gap:3em;
    justify-content: flex-start;
    justify-self: center;
    align-items: center;
    margin-left: 5em;
    padding: 1em;
    margin: 2em;
    border: 1px solid black;
    border-radius: 2em;
}
:root{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}