html, body{
    background-image: url(https://cdnb.artstation.com/p/assets/images/images/029/462/049/original/pixel-jeff-waiting-ll-2.gif?1597639898);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.outer{
    width: 100vw;
    display: flex;
    justify-content: center;
}
.inner{
    background-color: rgba(32, 32, 32, 0.822);
    border-radius: 2em;
    max-width: 60vw;
    color: white;
    padding: 5em;
}
.inner h1{
    text-align: center;
}
.inner img{
    width: 600px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2em;
}
