#images{
    height: 20em;
    width: 20em;
    border-radius: 2em;
}

.game-details img{
    height: 30em;
    width: 30em;
    border-radius: 2em;
}
.Home{
    width: 55%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    list-style: none;
}
img{
    margin: 0 auto;
    display: flex;
}
ul li{
    list-style: none;
}

.games{
    width: 60%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.games img{
    margin-top: 3em;
}
#games-header{
    text-align: center;
}
:root{
    background-color:beige;
}
.about{
    text-align: center;
}
.game-details{
    list-style: none;
    text-align: left
}