#images{
    height: 20em;
    width: 20em;
    border-radius: 2em;
}

.game-details img{
    height: 30em;
    width: 30em;
    border-radius: 2em;
}
.Home{
    width: 55%;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: 0 auto;
    list-style: none;
}
img{
    margin: 0 auto;
    display: flex;
}
ul li{
    list-style: none;
}

.games{
    width: 60%;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    list-style: none;
    padding: 2em;
}
a{
    text-decoration: none;
    color: black;
}
.games img{
    margin-top: 3em;
}
#games-header{
    text-align: center;
}
:root{
    background-color:beige;
}
.about{
    text-align: center;
}
.game-details{
    list-style: none;
    text-align: left;
    width: 50%;
    margin:0 auto;
}
.game-details h1{
    text-align: center;
}
:root{
    padding: 2em;
}
.not-found{
    text-align: center;
}
.review-container li{
    margin-top: 1em;
}
:root *{
    font-family: 'Times New Roman', Times, serif;
}
h1{
    font-size:3em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.75em;
}
p{
    font-size: 1.25em;
}
li{
    font-size: 1.25em;
}