:root{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.PokemonCard{
  background-color: rgba(255, 0, 0, 0.506);
  width: 15%;
  height: 20em;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  color: white;
  border-radius: 1em;
  padding: 2em;
  margin: 2em;
}
.PokemonCard img{
  width: 12em;
  height: auto;
  justify-content: center;
  align-items: center;
  margin:0 auto;
}
.PokemonCard h2{
  font-size: 2em;
}
#label{
  font-size: 100px;
  text-align: center;
}
#container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  justify-content: center;
  align-items: center;
}
#Loading{
  text-align:center;
  align-items: center;
  justify-content: center;
  font-size: 200px;
}
nav {
  display: flex;
  background-color: red;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  height: 5em; /* Height of the navbar */
}

nav h1 {
  font-size: 3em;
  display: flex;
  text-align: center;
  align-items: center;
  margin-left: 2em;
  color: white;
}

nav ul {
  list-style: none;
  display: flex;
  text-align: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav ul li {
  height: 100%; /* Make the li the same height as the nav */
  display: flex;
  align-items: center; /* Center the content vertically */
}

nav ul li a {
  text-decoration: none;
  color: white;
  margin-right: 0em;
  font-size: 1.5em;
  display: flex;
  align-items: center; /* Center text vertically */
  height: 100%; /* Set the height of the anchor to 100% of the li */
  padding: 0 1em; /* Add horizontal padding for better hover area */
}

nav ul li a:hover {
  color: black;
  background-color: white;
  height: 100%; /* Ensure the hover state maintains full height */
}
